.music-player-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px;
}

.music-player-title {
    text-align: center;
    padding-bottom: 10px;
}

.music-player-table {
    margin-bottom: 50px;
    font-family: sans-serif, "Times New Roman";
    font-weight: 700;
    font-size: 20px;
}

.zplayer-container {
    display: flex;
    flex-direction: column;
}

.zplayer-name {
    font-weight: 700;
    font-size: 20px;
    /*border: solid red 2px;*/
    text-align: center;
}

.zplayer-buttons {
    display: flex;
    justify-content: center;
}
