.a11y-container {
  padding-top: 4%;
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
    font-size: 4em;
    padding-bottom: 20px;
  }
  h2 {
    text-align: center;
    font-size: 2em;
    padding-bottom: 20px;
  }
  h3 {
    text-align: center;
    font-size: 25px;
    margin: 0 100px 0 100px;
  }

  .a11y-main-container {
    margin: 0 20% 0 20%;

    // 上传框
    .a11y-upload {
      margin: 50px;

      // 拖拽上传框效果
      .components-upload-demo-drag-area {
        border-radius: var(--semi-border-radius-small);
        border: 2px dashed var(--semi-color-border);
        width: 100%;
        padding: 40px 0 40px 0;
        background-color: var(--semi-color-tertiary-light-default);
        display: flex;
        cursor: pointer;
        flex-wrap: wrap;
        justify-content: center;
        &:hover {
          background-color: var(--semi-color-primary-light-default);
          border-color: var(--semi-color-primary);
        }
      }
    }

    .a11y-btn {
      margin: 0 50px 0 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .results_container {
    .issues_container {
      margin: 60px 25% 50px 25%;
      .issue-list {
        .issue-list-item {
          &:hover {
            background-color: var(--semi-color-fill-0);
          }
          &:active {
            background-color: var(--semi-color-fill-1);
          }
        }
      }
    }

    .statistic_container {
      margin: 0 10% 0 10%
    }

  }

}