.blog-container {
  display: flex;
  flex-direction: column;
}

.title-container {
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(to right, rgba(var(--semi-light-blue-9), 1), rgba(var(--semi-light-blue-5), 1), rgba(var(--semi-blue-2), 1), rgba(var(--semi-light-blue-0), 1));
  box-shadow: 0 0 5px 1px #999;

  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .blog-title {
    color: rgba(var(--semi-grey-0), 1);
    font-family: "Consolas", 华文中宋, sans-serif;
    font-size: 130%;
    font-weight: bold;
    margin: 0.5% 0 0.5% 2%;

    display: inline-block;
  }

  .title-buttons {
    display: flex;
    flex-direction: row;
  }

  .theme-button {
    margin-top: 0.3%;
    font-family: 华文中宋, 宋体, sans-serif;
    height: 100%;

    vertical-align: middle;
    color: rgba(var(--semi-grey-9), 1);
  }
}

.content-container {
  width: 65%;
  margin: auto;
  padding: 2% 3% 3% 3%;
  //border: gray solid 1px;
  box-shadow: 0 0 5px 1px #999;

  .content-title {
    display: flex;
    flex-direction: row;
    justify-content: left;

    h1 {
      font-size: 200%;
      font-family: Consolas, 华文中宋, serif;
      margin-top: 40px;
    }

    /* ============ apple ================ */
    .apple-logo {
      width: 37px;
      margin: 0;
    }

    @media (prefers-reduced-motion: no-preference) {
      .apple-logo {
        animation: apple-logo-spin infinite 20s linear;
      }
    }

    .apple-container {
      height: 100%;
      margin-top: 40px;
      z-index: 2;
      display: flex;
      align-items: center;
    }

    @keyframes apple-logo-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  .contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .note-container {
      //box-shadow: 0 0 2px 1px #999;
      margin-bottom: 20px;
      padding: 10px;
    }

    .ppt-container {
      //box-shadow: 0 0 2px 1px #999;
      margin-bottom: 20px;
      padding: 10px;
    }

    .project-container {
      //box-shadow: 0 0 2px 1px #999;
      margin-bottom: 20px;
      padding: 10px;
    }
  }
}

.footer-container {
  margin: 2%;
  color: gray;
  text-align: center;
}
