.blog-container {
  margin-left: 3%;
}


/* ============ apple ================ */
.apple-logo {
  width: 300px;
  /*border: solid red 2px;*/
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .apple-logo {
    animation: apple-logo-spin infinite 20s linear;
  }
}

.apple-container {
  /*background-color: #282c34;*/
  /*min-height: 50vh;*/
  display: flex;
  /*flex-direction: column;*/
  /*设置item在交叉轴上如何对齐*/
  align-items: center;
  /*设置item在主轴上如何对齐*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
}

@keyframes apple-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

