/* 标题格式 */
.first_header {
    /*letter-spacing: 2px;*/
    font-size:60px;
    font-family: sans-serif, "Times New Roman", Lato, SimHei, sans-serif;
    font-weight: 600;
}

.second_header {
    font-size: 48px;
    /*letter-spacing: 2px;*/
    font-family: sans-serif, "Times New Roman", Lato, sans-serif;
    font-weight: 600;
    padding: 0 25px 5px;
    border-bottom: 2px solid skyblue;
    text-align: left;
}

.third_header {
    font-size: 32px;
    font-weight: 500;
    font-family: sans-serif, "Times New Roman", Lato, SimHei, serif;
    text-align: left;
    padding: 0 25px;
}

.ppt-main-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.authors-info {
    font-size: 25px;
    font-weight: 590;
    font-family: "Times New Roman", 楷体, serif;
    display: inline-block;
    /*border: solid red 2px;*/
}

.author-info {
    margin-bottom: 7px;
    text-align: left;
    /*margin-left: 25vw;*/
}

.logo-div {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 35%;
}

.logo-name {
    font-size: 25px;
    font-family: "Times New Roman", 楷体, serif;
}

.logo-img {
    width: 40%;
}
