.video-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.video-frame {
    width: 350px;
}

.timeline-table {
    font-size: 25px;
    font-weight: 500;
    font-family: sans-serif, "Times New Roman", sans-serif;
}

.zslides {
    margin-top: 0;
}

