$cv-width: 800px;
$tab-width: 15px;

.cv-container {
  display: flex;
  flex-direction: column;
  margin: 2% 3% 3%;
  width: $cv-width;
  font-size: 22px;
  padding-top: 2%;  // 避开导航栏

  h1 {
    font-size: 46px;
    margin: 0 0 12px;
  }

  h2 {
    font-size: 30px;
    margin: 25px 0 10px;
  }

  h3 {
    font-size: 25px;
    margin: 5px 0;
  }

  h4 {
    font-weight: bold;
    margin: 10px 0 0;
  }

  a {
    text-decoration: none;
    color: rgba(var(--semi-light-blue-5), 1);
    //transition: color 1s ease;
  }

  a:hover {
    color: rgba(var(--semi-light-blue-7), 1);
    text-decoration: underline;
  }

  ul {
    margin-top: 0;
    list-style-type: circle;
    list-style-position: inside;

    li {
      margin: 10px 0;
    }
  }

  /* ===================== 基本信息 ===================== */
  .basic-info-container {
    display: flex;
    flex-direction: row;
  }

  .profile-photo-img {
    width: 150px;
    border-radius: 4px;
  }

  .basic-info {
    margin-left: 30px;
  }

  .basic-info-intern {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  /* ===================== 教育背景 ===================== */

  .education-background-container {
    //font-size: 25px;
  }

  /* ===================== 项目经历 ===================== */
  .project {
    margin-left: $tab-width;
    margin-bottom: 10px;
  }

  .project-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .project-time {
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    margin-top: 15px;
  }

  .project-description {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 28px;
  }

  .subprojects {
    margin-left: $tab-width;
  }

  /* ===================== 发表论文 ===================== */
  .publication {
    margin-left: $tab-width;
  }

  .publication-description {
    margin: 0;
    padding: 0;
  }
}


