/*.ppt_basic {*/
/*    border: 1px solid #ccc;*/
/*    border-radius:5px;*/
/*}*/

/*.main_text {*/
/*    font-size: 28px;*/
/*    font-weight: 500;*/
/*    font-family: Lato, serif;*/
/*    float: left;*/
/*    line-height: 44px;*/
/*    width: 100%;*/
/*    padding-bottom: 40px;*/
/*}*/

.ui_content {
  font-size: 28px;
  font-weight: 500;
  line-height: 55px;
  text-align: left;
  font-family: Lato, "Times New Roman", SimHei, serif;
  padding-left: 90px;
}

.li_content {
  margin-bottom: -10px;
}

.result_table {
  font-size: 25px;
  font-weight: 600;
}

.division_table {
  font-size: 25px;
  font-family: "Times New Roman", sans-serif, Lato, SimHei;
  font-weight: 500;
}

.detail-slide {
  margin-top: -30px;
}